<div id="newTaskForm">
	<img src="/assets/Logo_HackNPray.png" id="newTaskLogo"/>
  <br>
  <%= form_for @task do |f| %>
    <table cellspacing="10" cellpadding="7">
    <tr> <td class="labels"> <span class="taskEntryLabel1">Customer: </span><span class="taskEntryData"> </td> <td class="values"> <span class="taskEntryData"><%= @task.customer_name %></span><br /> </td> </tr>
    <tr> <td> <span class="taskEntryLabel2">Phone number: </span></td> <td class="values"> <span class="taskEntryData"><%= @task.phone_number %></span><br /> </td> </tr>
    <tr> <td> <span class="taskEntryLabel1">From: </span></td> <td class="values"> <span class="taskEntryData"><%= @task.src_address %></span><br /> </td> </tr>
    <tr> <td> <span class="taskEntryLabel2">To: </span></td><td class="values"><span class="taskEntryData"><%= @task.dst_address %></span><br /> </td> </tr>  
    <tr> <td> <span class="taskEntryLabel1">Pickup at: </span></td> <td class="values"> <span class="taskEntryData"><%= @task.pickup_at %></span><br />
    <tr>
      <td><span class="taskEntryLabel2">Cab Services:</span></td>
      <td class="values"><span class="taskEntryData"><%= @task.service_providers.first.phone_number %></span></td>
    </tr>
    <% @task.service_providers.drop(1).each do |sp| %>
      <tr><td> </td><td class="values"><span class="taskEntryData"><%= sp.phone_number %></span></td></tr>
    <% end %>
    </table>
    <br>
    <%= f.text_field :eta, :id=>"newTaskEntry", :placeholder=>"ETA", :style=>"width: 95%" %><br />
    <%= f.text_field :estimated_price, :id=>"newTaskEntry", :placeholder=>"Estimated price", :style=>"width: 95%" %><br />
    <%= f.text_field :message, :id=>"newTaskEntry", :placeholder=>"Message", :style=>"width: 95%" %><br />
    <br>
    <% if @task.status != Task::Status::Completed && @task.status != Task::Status::Rejected %>
      <%= f.submit "Reject", :name => "status", :value => "Reject",
        :class=>"btn btn-large btn-danger", :style=>"width: 48%" %>
      <%= f.submit "Complete", :name => "status", :value => "Complete",
        :class=>"btn btn-large btn-success", :style=>"width: 48%" %>
    <% else %>
      <% f.submit "Amend", :name => "status", :value => "Amend",
        :class => "btn btn-large btn-success" %>
    <% end %>
  <% end %>
</div>