<div id="newTaskForm" style="color:black; font-size: 14px">
  <img src="/assets/Logo_HackNPray.png" id="newTaskLogo"/>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><center>ID</center></th>
        <th><center>Customer name</center></th>
        <th><center>Type of project</center></th>
        <th><center>Due</center></th>
        <th><center>Price</center></th>
        <th> </th>
      </tr>
    </thead>
  <% @tasks.each do |task| %>
    <tr>
        <td><center><%= task.id %></center></td>
        <td><center><%= task.customer_name %></center></td>
        <td><center>Calling a cab</center></td>
        <td><center>
          <%=
            task.pickup_at + 10 unless task.pickup_at.nil?
          %>
        </td>
        <td><center>£0.50</center></td>
        <td><center><%= link_to "View", url_for(:action => "edit", :controller => "tasks", :id => task.id), :class=>"btn btn-small btn-success", :style=>"width: 100%" %></center></td>
    </tr>
  <% end %>
  </table>
</div>