<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtu4jqVrZ9GfCSYwVp0Zg7xElMybSZLLs&sensor=true">
    </script>
<script type="text/javascript">
  var directionDisplay;
  var directionsService = new google.maps.DirectionsService();
  var map;

  function initialize() {
    directionsDisplay = new google.maps.DirectionsRenderer();
    var chicago = new google.maps.LatLng(55.945355, -3.189189);
    var myOptions = {
      zoom:15,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      center: chicago
    }
    map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
    directionsDisplay.setMap(map);
  }

  function calcRoute() {
    var start = document.getElementById("src_address").value;
    var end = document.getElementById("dst_address").value;
    var request = {
        origin:start, 
        destination:end,
        travelMode: google.maps.DirectionsTravelMode.DRIVING
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
      }
    });
  }
	jQuery(document).ready(initialize)
</script>


<div id="newTaskForm">
	<img src="/assets/Logo_HackNPray.png" id="newTaskLogo"/>
<%= form_for :task do |f|%> 
  <%= f.text_field :customer_name, :id=>"newTaskEntry", :placeholder=>"Your name", :style=>"width: 30%" %>
  <%= f.text_field :phone_number, :placeholder=>"Phone number", :id=>"newTaskEntry", :style=>"width: 30%" %>
  <%= f.text_field :pickup_at, :placeholder=>"Pickup at", :id=>"newTaskEntry", :style=>"width: 30%" %><br />
  <%= f.text_field :src_address, :placeholder=>"Souce address", :id=>"src_address", :style=>"width: 46%", :onchange=>"calcRoute();" %>
  <%= f.text_field :dst_address, :placeholder=>"Destination address", :id=>"dst_address", :style=>"width: 46%", :onchange=>"calcRoute();" %><br />
<div id="map-canvas"></div>

  <%= f.submit :class=>"btn btn-large btn-block btn-primary", :id=>"newTaskButton" %>

<% end %>
</div>