#newTaskForm {
	margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size:30px;
    line-height: 30px;
    color:#cccccc;
}

#newTaskEntry {
	height: 60px;
  	line-height: 60px;
	margin-left: auto;
    margin-right: auto;
    font-size:30px;
    color:#006dcc;
}

.taskEntryLabel1 {
    color: rgb(234, 160, 31);
}

.taskEntryLabel2 {
    color: rgb(234, 199, 132);
}

table {
    width: 98%;
}

td.labels {
    width: 40%;
}

td.values {
    text-align: right;
    border-bottom: 1px solid rgb(234, 199, 132);
}

#src_address {
	height: 60px;
  	line-height: 60px;
	margin-left: auto;
    margin-right: auto;
    font-size:30px;
    color:#006dcc;
}

#dst_address {
	height: 60px;
  	line-height: 60px;
	margin-left: auto;
    margin-right: auto;
    font-size:30px;
    color:#006dcc;
}

#newTaskButton {
	width: 96%;
}

#newTaskLogo {
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#map-canvas { 
	height: 300px;
	width: 96%;
}

.taskEntryData {
	color:black;
}